body {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: rgb(255, 255, 255);
}

header, .btn-secondary {
    background-color: #f1f1f1;
    color: black;
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: #d8d8d8;
    color: black;
}

footer {
    background-color: #e7da65;
    color: rgb(19, 32, 28);
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;
}

.subtitle {
    background-color: #c7f34d;
    font-size: 1.5em;
    color: rgb(32, 32, 32);
    padding: .25em;
    font-weight: 600;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: rgb(16, 22, 20);
    text-decoration: none;
}

.banner {
    position: relative;
}

.center-overlay {
    position: absolute;
    top: 25%;
    width: 100%;
    padding-right: 100;
}

.md-form.mt-0{
    width:700px;
    display:flex;
  }
  
.material-icons.mdc-button__icon{
    position: absolute;
    padding-top: 6px;
    padding-left: 6px;
    color: rgb(116, 116, 116) !important;
}
  
.mdc-button__icon + input{
    padding-left: 32px;
    padding-bottom: 10px;
}

.hidden {
    visibility: hidden;
}

.star-checked {
    color: rgb(219, 88, 0);
}

.star-unchecked {
    color: rgb(255, 199, 153);
}

.custom-card {
    max-width: 18rem;
    margin: 0 auto;
    outline-color: white;
}

.card-title {
    padding: 0;
    font-weight: 700;
    margin: 0;
}

.card-text {
    margin-bottom: 8px;
}

.full-body {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

footer {
    position: relative;
    bottom: 0;
    height: 6rem;
}

.expand {
    width: 20em;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.image img{
    position:absolute;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }