body {
   /* font-family: Georgia, 'Times New Roman', Times, serif ; */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(245, 244, 234);
}

h1 {
    color: black;
}

Header, .btn-secondary {
    background-color: #424e34;
    background-color: white;
    border-width: 5px;
    border-color: azure;
    border: white;
    /*color: rgb(233, 233, 233);*/
    color: black;
}

.btn-outline-secondary {
    color: rgb(71, 107, 45);
    border-color: rgba(71, 107, 45);
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
    /*background-color: #8ea74a;*/
    color: rgb(71, 107, 45);
    background-color: rgba(71, 107, 45);
}

footer {
    background-color: #8ea74a;
    color: rgb(19, 32, 28);
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 2em;
}

.shadow {
    box-shadow:  10px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.subtitle {
    background-color: #b4d35e;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
    padding: .25em;
    font-weight: 600;

}

a:link.dark {
    color: black;
    text-decoration: none;
}

a:visited.dark {
    color: black;
    text-decoration: none;
}


a:link {
    color: rgb(243, 242, 231);
    text-decoration: none;
}

a:visited {
    color: rgb(243, 242, 231);
    text-decoration: none;
}

.banner {
    position: relative;
}

.center-overlay {
    position: absolute;
    top: 25%;
    width: 100%;
    padding-right: 100;
}

.md-form.mt-0{
    width:700px;
    display:flex;
  }
  
.material-icons.mdc-button__icon{
    position: absolute;
    padding-top: 6px;
    padding-left: 6px;
    color: rgb(116, 116, 116) !important;
}
  
.mdc-button__icon + input{
    padding-left: 32px;
    padding-bottom: 10px;
}

.hidden {
    visibility: hidden;
}

.star-checked {
    color: rgb(219, 88, 0);
}

.star-unchecked {
    color: rgb(255, 199, 153);
}

.custom-card {
    max-width: 18rem;
    margin: 0 auto;
    outline-color: white;
}

.card-title {
    padding: 0;
    font-weight: 700;
    margin: 0;
}

.card-text {
    margin-bottom: 8px;
}

.full-body {
    min-height: 90vh;
    overflow: hidden;
    position: relative;
}

footer {
    position: relative;
    bottom: 0;
    height: 6rem;
}

.expand {
    width: 20em;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}

.image img{
    position:absolute;
}
